
.mycol {
    margin-top: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
  }
  .demo-table-expand {
    font-size: 0;
  }
  .demo-table-expand label {
    width: 90px;
    color: #99a9bf;
  }
  .demo-table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 50%;
  }
  .myicon {
    margin-right: 60px;
  }
  .mytag1,
  .mytag2,
  .mytag3{
      margin-top: 8px;
  }
  .mytag3{
      margin-right: 10px;
  }